* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.App {
  height: 100vh;
  /* width: 100%; */
}

header {
  background: linear-gradient(rgb(101, 98, 134), rgba(34, 27, 109));
  display: flex;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
  height: 7%;
}
.header__logo {
  width: 30px;
  object-fit: contain;
  margin: 0 1rem;
}
.header__title {
  display: block;
  font-size: calc(1.2rem + 1vw);
  flex: 1;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
.header__basketCount {
  margin: 0 10px;
  padding: 4px;
  background: bisque;
  border-radius: 30%;
}
.basket__btn {
  background: none;
  border: none;
  cursor: pointer;
}
.basket__btn:hover {
  background: rgb(85, 97, 158);
}
section {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 93%;
  transition: 1s ease;
}

.cards-container {
  width: 75%;
  background: linear-gradient(
    rgba(178, 212, 210, 0.849),
    rgba(47, 112, 155, 0.849)
  );
}
.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.special__wrapper {
  margin: 1rem auto;
}
.row__special,
.row__additional {
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
}
.row__special {
  scrollbar-width: none;
}

.menu h1 {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}
.menu h1::before {
  content: "";
  position: absolute;
  height: 4px;
  right: 0px;
  bottom: 1px;
  left: 0;
  background-color: rgb(38, 60, 121);
}

.card-container {
  position: relative;
  margin-left: 30px;
  transition: transform 700ms;
}
.img-container {
  height: 145px;
  width: 300px;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-add {
  height: 105px;
  width: 240px;
}

.card-info {
  color: var(--mainWhite);
  border-bottom-right-radius: 1rem;
  text-align: center;
}

.card-info h3 {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.3rem;
  font-size: calc(0.3rem + 1vw);
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.btn-toOrder {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2rem;
}
.btn-toOrder[disabled] {
  color: red;
  border-color: red;
  transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
  background: transparent;
}

.card-container:hover {
  transform: scale(1.05);
}
.card-container:hover img {
  opacity: 0.6;
}
.card-container:hover .card-info h3 {
  opacity: 0;
}
.card-title {
  width: 100%;
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  font-size: calc(0.3rem + 1vw);
}

/* ---Order--- */

.order-container {
  position: relative;
  width: 25%;
  background-color: silver;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__header {
  text-align: center;
  margin: 0.5rem;
  font-size: calc(1rem + 1vw);
}
ul {
  width: 95%;
}
li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.2rem;
  border-bottom: black 1px solid;
}
li span {
  flex: 1;
}
li span,
strong {
  font-size: calc(0.4rem + 1vw);
}
li:hover .delete__btn {
  opacity: 1;
}
.hide {
  visibility: hidden;
}

.count__number {
  margin-right: 0.1rem;
}

/* Animation */
.full {
  width: 100%;
}
.hidden {
  display: none;
}

/* ===ANIMATION */
.order__total {
  margin-top: 0.6rem;
  font-size: calc(0.7rem + 1vw);
  font-weight: bold;
}

.delete__btn {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  float: right;
}
.closeOrder__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(172, 161, 147);
  margin: 0.5rem;
}

@media screen and (max-width: 820px) {
  .img-container {
    height: 175px;
    width: 250px;
  }
}
@media screen and (max-width: 685px) {
  .img-container {
    height: 170px;
    width: 220px;
  }
}
@media screen and (max-width: 645px) {
  /* .cards-container{
    width: 60%;
  }
  .order-container{
    width: 40%;
  } */

  .img-container {
    height: 150px;
    width: 175px;
  }
}
@media screen and (max-width: 630px) {
  .img-container {
    height: 145px;
    width: 180px;
  }
  .order-container {
    z-index: 5;
  }
}
